@use 'variables' as v;

.login ,.register {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: flex-start;
    align-content: flex-start;

    .loginBg {
        z-index: -1;
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    form {
        border-radius: 4px;
        margin-top: 64px;
        background-color: white;
        box-shadow: 0 0 16px #00000067;
        display: grid;
        align-items: flex-start;
        padding: 16px;

        h2 {
            text-transform: uppercase;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            padding: 32px 0;

        }

        h3 {
            font-size: 24px;
            line-height: 1.5em;
            max-width: 160px;
            color: #898989;
            margin-bottom: 32px;
        }

        p {
            font-size: 12px;
            line-height: 1.5em;
            color: #898989;
            margin-bottom: 32px;

        }

        input {
            border-radius: 4px;
            font-size: 12px;
            padding: 16px;
            border: 1px solid #848688;
            margin-bottom: 16px;
            color: black;
            transition: all 250ms
        }

        button {
            border-radius: 4px;
            font-size: 12px;
            padding: 16px;
            border: 1px solid v.$blue;
            margin-bottom: 16px;
            background: v.$blue;
            color: white;
            transition: all 250ms;
            cursor: pointer;

            &:hover {
                background-color: transparent;
                color: v.$blue;
            }

            margin-bottom: 16px
        }

        .ext {
            text-align: center;
            font-size: 12px;
            color: v.$blue;
            font-weight: bold;
            margin-bottom: 16px;
            cursor: pointer;
            transition: all 250ms;
            &:hover{
                color: lighten($color: v.$blue, $amount: 10%);
            }
        }
    }

}
.register{
    form{
        h3{
            max-width: unset;
            margin-bottom: 16px;
        }
    }
}